/* "Music component for Website", v. 1.2 - 20.09.2024 | MIT License | Made by Anatolii Ovcharuk - https://github.com/Anatolii-Ovcharuk */
/* Description: This is CSS Style file for Music_v.1.2.jsx (React file). For Websites with support music on page. */
/* ATTENTION! Use this file only with component Music_v.1.2.jsx (React file). */
/* Add this is CSS Style file in project. */

.block__music__button {
    background-color: inherit;
    border: 0px;
    fill: inherit;
    color: inherit;
    transition: fill linear 250ms, color linear 250ms;
    margin: 6px;
    cursor: pointer;
    transition: color 250s linear;
}

.block__music__icon {
        fill: inherit;
        color: inherit;
        transition: fill linear 250ms;
        width: 30px;
        height: 30px;
        margin: 10px;
}